<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ordergoods.mapper.SysGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ordergoods.entity.SysGoods">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
        <result column="price" property="price" />
        <result column="stock" property="stock" />
        <result column="state" property="state" />
        <result column="main_pic" property="mainPic" />
        <result column="sub_pic1" property="subPic1" />
        <result column="sub_pic2" property="subPic2" />
        <result column="sub_pic3" property="subPic3" />
        <result column="sub_pic4" property="subPic4" />
        <result column="sub_pic5" property="subPic5" />
        <result column="remark" property="remark" />
        <result column="content" property="content" />
        <result column="field0" property="field0" />
        <result column="field1" property="field1" />
        <result column="field2" property="field2" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, category_id, category_name, price, stock, state, main_pic, sub_pic1, sub_pic2, sub_pic3, sub_pic4, sub_pic5, remark, content, field0, field1, field2, create_time, update_time
    </sql>

</mapper>
