<?xml version="1.0" encoding="UTF-8"?>
<!--加载映射文件 namespace：名称空间 里面是接口的全限定名-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ordergoods.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ordergoods.entity.SysUser">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="mobile" property="mobile" />
        <result column="code" property="code" />
        <result column="password" property="password" />
        <result column="state" property="state" />
        <result column="type" property="type" />
        <result column="sex" property="sex" />
        <result column="score" property="score" />
        <result column="age" property="age" />
        <result column="address" property="address" />
        <result column="email" property="email" />
        <result column="born_date" property="bornDate" />
        <result column="qq_number" property="qqNumber" />
        <result column="wx_number" property="wxNumber" />
        <result column="wx_nick" property="wxNick" />
        <result column="wx_avatarurl" property="wxAvatarurl" />
        <result column="wx_openid" property="wxOpenid" />
        <result column="field0" property="field0" />
        <result column="field1" property="field1" />
        <result column="field2" property="field2" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, mobile, code, password, state, type, sex, score, age, address, email, born_date, qq_number, wx_number, wx_nick, wx_avatarurl, wx_openid, field0, field1, field2, create_time, update_time
    </sql>

</mapper>
